<span style="border: 1px dotted #000000; padding: 2px">
    <a class="nounderline" style="color: red" href="#/locations/list">GO BACK</a>
</span>
<form style="margin-top: 5px" name="addForm" id="addForm">
    <div class="border1" style="display: table">
        <input class="border-dot margin-left-5" type="text" size="60" placeholder="Search for location" geoselect>
    </div>
    <fieldset class="float-left"
              style="display: table-column; width: 70%; margin-top:3px; margin-bottom:3px; border: 1px dotted #cccccc;">
        <legend style="color: #ccc">Editables</legend>
    <span class="float-left border1">
        <label>Name
            <input class="border-dot margin-left-5" type="text" size="35" ng-model="location.name" name="locName" ng-minlength="3" required>
        </label>
    </span>
    <span class="float-left border1">
        <label>Latitude
            <input class="border-dot margin-left-5" type="text" size="25" ng-model="location.lat" data-geo="lat">
        </label>
    </span>
    <span class="float-left border1">
        <label>Longitude
            <input class="border-dot margin-left-5" type="text" size="25" ng-model="location.lng" data-geo="lng">
        </label>
    </span>
    <span class="float-left border1">
        <label>City
            <input class="border-dot margin-left-5" type="text" size="35" ng-model="location.city" data-geo="locality">
        </label>
    </span>
    <span class="float-left border1">
        <label>Country
            <input class="border-dot margin-left-5" type="text" size="30" ng-model="location.country" data-geo="country">
        </label>
    </span>
    <span class="float-left border1">
        <label>Address
            <input class="border-dot margin-left-5" type="text" size="40" ng-model="location.formatted_address" data-geo="formatted_address">
        </label>
    </span>
    <span class="float-left border1">
        <label>Zoom
            <input class="border-dot margin-left-5" type="text" size="10" ng-model="location.zoom" name="zoom" data-geo>
        </label>
    </span>
    </fieldset>

    <fieldset class="float-left"
              style="display: table-column; margin-top:3px; margin-bottom:3px; border: 1px dotted #cccccc;">
        <legend style="color: #ccc">Description</legend>
    <span class="float-left border1">
            <textarea class="border-dot margin-left-5" style="vertical-align: middle; overflow: hidden; height: 74px;"
                      rows="30" cols="30" ng-model="location.description"></textarea>
    </span>
    </fieldset>
    <fieldset class="float-left"
              style="display: table-column; width: 50%; margin-top:3px; margin-bottom:3px; border: 1px dotted #cccccc; min-height: 82px">
        <legend style="color: #ccc">Images</legend>
        Will be here
        <span ng-repeat="image in location.imageUrl" class="float-left margin-left-5">
            <a href="#/locations/{{location._id}}/fullImage/{{$index}}">
                <img height="60px" ng-src="{{image}}" style="border: 1px solid">
            </a>
        </span>
    </fieldset>

    <fieldset class="float-left"
              style="display: table-column; margin-top:3px; margin-bottom:3px; border: 1px dotted #cccccc; min-height: 82px">
        <legend style="color: #ccc">Actions</legend>
    <span class="float-left">
       <input class="margin-left-5" type="button" value="Save" ng-click='create()' ng-show="addForm.$valid">
    </span>

    </fieldset>
    <fieldset class="float-left" ng-show="addForm.$invalid"
              style="display: table-column; margin-top:3px; margin-bottom:3px; border: 1px dotted #cccccc;">
        <legend style="color: #ccc">Validation</legend>
        <span class="float-left" ng-show="addForm.$invalid">
        <p ng-show="addForm.locName.$invalid" style="color: red">Name should be at least 3 symbols</p>
    </span>
    </fieldset>
    <fieldset style="clear: both">
        <div id="geo_map" style="border: 1px dotted rgb(149, 184, 231); margin-left: 5px; margin-top: 5px; width: 500px; height: 350px">
        </div>
    </fieldset>
</form>

