<span style="border: 1px dotted #000000; padding: 2px">
    <a class="nounderline" style="color: red" href="#/locations">GO BACK</a>
</span>
<form style="margin-top: 5px">
    <fieldset class="float-left"
              style="display: table-column; width: 70%; margin-top:3px; margin-bottom:3px; border: 1px dotted #cccccc;">
        <legend style="color: #ccc">Editables</legend>
    <span class="float-left border1">
        <label>Name
            <input class="border-dot margin-left-5" type="text" size="35" value="{{location.name}}">
        </label>
    </span>
    <span class="float-left border1">
        <label>Latitude
            <input class="border-dot margin-left-5" type="text" size="25" value="{{location.lat}}">
        </label>
    </span>
    <span class="float-left border1">
        <label>Longitude
            <input class="border-dot margin-left-5" type="text" size="25" value="{{location.lng}}">
        </label>
    </span>
    <span class="float-left border1">
        <label>City
            <input class="border-dot margin-left-5" type="text" size="35" value="{{location.city}}">
        </label>
    </span>
    <span class="float-left border1">
        <label>Country
            <input class="border-dot margin-left-5" type="text" size="30" value="{{location.country}}">
        </label>
    </span>
    <span class="float-left border1">
        <label>Address
            <input class="border-dot margin-left-5" type="text" size="40" value="{{location.formatted_address}}">
        </label>
    </span>
    </fieldset>

    <fieldset class="float-left"
              style="display: table-column; margin-top:3px; margin-bottom:3px; border: 1px dotted #cccccc;">
        <legend style="color: #ccc">Description</legend>
    <span class="float-left border1">
            <textarea class="border-dot margin-left-5" style="vertical-align: middle; overflow: hidden; height: 30px;"
                      rows="30" cols="30">{{location.description}}</textarea>
    </span>
    </fieldset>
    <fieldset class="float-left"
              style="display: table-column; width: 50%; margin-top:3px; margin-bottom:3px; border: 1px dotted #cccccc;">
        <legend style="color: #ccc">Images</legend>
        <span ng-repeat="image in location.imageUrl" class="float-left margin-left-5">
            <img height="60px" ng-src="{{image}}" style="border: 1px solid">
        </span>
    </fieldset>
    <fieldset class="float-left"
              style="display: table-column; margin-top:3px; margin-bottom:3px; border: 1px dotted #cccccc;">
        <legend style="color: #ccc">Statuses</legend>
        <span class="float-left border1">
        <label>Last Modified
            <input class="border-dot margin-left-5" type="text" disabled size="30" value="{{location.date_modified}}">
        </label>
    </span>
    </fieldset>
    <fieldset class="float-left"
              style="display: table-column; margin-top:3px; margin-bottom:3px; border: 1px dotted #cccccc;">
        <legend style="color: #ccc">Actions</legend>
    <span class="float-left">
       <input class="margin-left-5" type="button" value="Destroy">
    </span>
    <span class="float-left">
       <input class="margin-left-5" type="button" value="Save">
    </span>
    </fieldset>
</form>