<div id="pagewrap">
    <div id="content">

        <nav class="navbar navbar-default" role="navigation" style="margin-bottom: 5px">

            <div class="container-fluid">
                <!--Total locations: {{locations.length}}-->
                <!--<div id="controls" style="border: 1px dotted rgb(149, 184, 231); padding: 5px">-->
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--<a class="navbar-brand" href="#">Brand</a>-->

                    <a href="#/locations/add" style="text-decoration: none">
                        <button type="button" class="btn btn-primary navbar-btn">Add new</button>
                    </a>

                    <span class="navbar-text" style="float: none">Total locations: {{locations.length}}</span>

                    <form class="navbar-form" role="search" style="display: inline">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search" ng-model="query">
                        </div>
                        <!--<button type="submit" class="btn btn-default">Submit</button>-->
                    </form>

                    <!--<ul class="nav navbar-nav navbar-right">-->

                        <!--<li>-->
                            <!--<a href="#/locations/add">-->
                                <!--<button type="button" class="btn btn-primary" style="margin-left: 5px; margin-right: 5px;">Add new</button>-->
                            <!--</a>-->
                        <!--</li>-->

                        <!--<li>Total locations: {{locations.length}}</li>-->
                    <!--</ul>-->

                </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <!--<ul class="nav navbar-nav">-->
                        <!--</ul>-->








                            <!--<span>-->
                            <!--Search: <input ng-model="query">-->
                            <!--</span>-->
                            <!--<span style="float: right">-->
                                <!--<a href="#/locations/add">-->
                                    <!--<button type="button" class="btn btn-primary" style="margin-left: 5px; margin-right: 5px;">Add new</button></a>-->
                            <!--</span>-->
                            <!--<span style="float: right" class="panel panel-default">-->
                            <!--Total locations: {{locations.length}}-->
                            <!--</span>-->


                    </div>
                <!--</div>-->

            </div>
        </nav>


        <div style="border: 1px dotted rgb(149, 184, 231);  margin-top: 5px; height: 45px; line-height: 45px; vertical-align: middle; ">
            <div style="display: inline; margin-left: 5px;">
                Actions
            </div>
            <div class="alert alert-success" ng-show="showSuccessAlert" style="display: inline-table; margin-bottom: 0px; padding: 5px; line-height: 24px;">
                <button type="button" style="margin-left: 5px; margin-right: 5px" class="close" data-ng-click="hideAlert()">×</button>
                <button type="button" style="margin-left: 5px; margin-right: 5px; float: right; line-height: 20px"
                        ng-show="showUndo" data-ng-click="hideAlert();showUndoAlert();">Undo</button>
                {{successTextAlert}}
            </div>
        </div>
        <div style="border: 1px dotted rgb(149, 184, 231); padding: 5px; margin-top: 5px;">
            <table class="table" style="margin-bottom: 1px">
                <thead style="background-color: rgba(232,232,232,0.32)">
                <tr>
                    <th ng-repeat="header in headers">
                        <a href="" ng-click="setSortColumnOrJustReverse(header);">
                            {{ header }}
                        </a>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="location in locations | orderBy:columnSort_sortColumn:columnSort_reverse | filter:query"
                    class="locations-listing" ng-click="updateMap(location)" ng-class="{tr_selected: selectedLoc.name == location.name}">
                    <td> <a href="#/locations/{{location._id}}/edit">{{ location.name }} </a></td>
                    <td>{{ location.city }}</td>
                    <td>{{ location.country }}</td>
                    <td>{{ location.formatted_address }}</td>
                    <td>{{ location.date_modified | date : 'dd.MM.yy' }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <aside id="sidebar">
        <section class="widget" style="width: auto; height: 350px">
            <div style="border: 1px dotted rgb(149, 184, 231); width: inherit; height: inherit" id="map" ng-show="true"></div>
        </section>
    </aside>
</div>